<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Your Congress Info</h1>
    <h4>Powered by SunlightAPI</h4>
  </div>
</header>

<div class="container">
  <div class="col-lg-8">
    <div class="spinner" ng-show="loading"></div>
    <div class="well" ng-repeat="rep in repArray">
    <ul>
      <li>
        <div class = "square pull-left" ng-class="{republican: rep.party === 'R', democrat: rep.party === 'D'}"></div>
        {{rep.first_name}} {{rep.last_name}} ({{rep.party}})
        <span class="pull-right">{{rep.term_start | date : 'yyyy'}} - {{rep.term_end | date : 'yyyy'}}</span>
      </li>
      <li class="chamber">{{rep.chamber}}: {{rep.state}}<span ng-hide="rep.chamber === 'senate'"> - {{rep.district}}</span></li> 
    </ul>
    </div>
  </div>
  <div class="form-container col-lg-4">
    <form>
      <label>Wrong info? Enter your address here</label>
      <div class="col-sm-4 no-padding-left">
        <input type="number"  class="form-control" placeholder="123" ng-model="address.streetNo">
      </div>
      <div class="col-sm-8 no-padding-left">
        <input type="text" class="form-control" placeholder="Democracy Ave." ng-model="address.streetName">
      </div>
      <div class="col-sm-6 no-padding-left">
        <input type="text" class="form-control" placeholder="Cincinnati" ng-model="address.city">
      </div>
      <div class="col-sm-6 no-padding-left">
        <input type="text" ng-model="address.state" placeholder="Ohio" typeahead="state for state in states | filter:$viewValue" class="form-control">
      </div>
      <div class="col-sm-6 no-padding-left">
        <button type="submit" class="btn btn-primary comment-button" ng-click="updateLocation()">Update</button>
      </div>
    </form>
  </div>

</div>

<footer class="footer">
  
</footer>
