<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
<h1>Doctor Finder</h1>
  <div class="map-container">
    <div class="spinner" ng-if="ctrl.loading"></div>
    <ui-gmap-google-map control="ctrl.map.control" center="ctrl.map.center" zoom="ctrl.map.zoom" options="ctrl.options" center="ctrl.currentLocation">
      <div ng-repeat="doctor in ctrl.doctors">
        <ui-gmap-marker idKey="$index" coords="{longitude: doctor.locations[0].address.longitude, latitude: doctor.locations[0].address.latitude}"></ui-gmap-marker>
      </div>
    </ui-gmap-google-map>
  </div>
  <div class="list-container">
    <div class="doctor-list-item" ng-repeat="doctor in ctrl.doctors">
      <div>
        {{$index}}.
        <div class="doctor-picture"></div>
        <div class="doctor-address">
          <span><a href="" ng-click="ctrl.centerMap(doctor.locations[0].address.longitude, doctor.locations[0].address.latitude)">{{doctor.name}}<span ng-repeat="degree in doctor.degrees">, {{degree}}</span></a></span><br>
          {{doctor.locations[0].address.addr_line1}}  {{doctor.locations[0].address.addr_line2}}<br>
          {{doctor.locations[0].address.city}}, {{doctor.locations[0].address.state_code}}  {{doctor.locations[0].address.postal_code}}
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  
</footer>
